//colors

$color-primary: #00669b;
$color-primary-alt: #06a7e1;
$color-secondary: #2e3192;
$color-secondary-alt: #6460ab;

$gray: #efefef;

//transitions
$transition: 0.35s ease-out;
$transition-all: all $transition;

//fonts

$type-serif: 'Playfair Display SC', serif;
$type-sans: 'Open Sans', sans-serif;
$type-alt: 'Fjalla One', sans-serif;